* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 145vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    background-color: #380D06;
    z-index: 1000;
}

.logo {
    height: auto;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item > a {
    text-decoration: none;
    color: white;
}

.item > a:hover {
    color: #ff2258;
}

.item {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1em;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

label {
    cursor: pointer;
    display: none;
    margin-left: 5em;
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
        margin: 0;
    }

    label {
        display: initial;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #233bb4;
        display: none;
    }

    .item {
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked ~ .menu {
        display: initial;
    }
}

nav { 
    max-width: 100%;
    margin: auto;
    background-color: #29030e;
    font-size: 20px;
    margin-top: 100px;
    overflow: hidden;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: #e7e9f3;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: red;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(243, 225, 225);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    background-color: #29030e;
}

.menu-vertical > li > a:hover {
    background-color: yellow;
    color: #000000;
}

.menu-vertical li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.main {
    background: #f6f7f4;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 1%;
    justify-content: center;
}

.slider-frame {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite;
}

.slider-frame ul li {
    width: 100%;
    list-style: none;
}

.slider-frame ul li img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(20deg, #380D06, #6D120F, #A5241B, #E23D34);
    width: 100%;
    padding: 20px;
}

#izquierda, #derecha {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
}

#izquierda a, #derecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#izquierda i, #derecha i {
    font-size: 25px;
    color: white;
    padding-right: 10px;
}

@media screen and (max-width: 700px) {
    #izquierda, #derecha {
        width: 100%;
    }
}

.copi {
    background: #000000;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
